@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("Pretendard-Thin.ttf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("Pretendard-Light.ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("Pretendard-ExtraLight.ttf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("Pretendard-Regular.ttf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("Pretendard-Medium.ttf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("Pretendard-Bold.ttf");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("Pretendard-ExtraBold.ttf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("Pretendard-Black.ttf");
}
